/* Nav Bar  */

.navbar-2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: white;
    color: black;
  }
  
  .navbar-logo img {
    height: 50px;
  }
  
  .navbar-links ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    margin-left: -50px;
  }
  
  .navbar-links ul li {
    margin-right: 0px;
  }
  
  .navbar-links ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
  }
  /* .navbar-links ul li:hover{
    background-color: #04AA6D !important;
  } */
  .navbar-buttons button {
    margin-right: 5px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color:#555;
    color: black;
    font-weight: bold;
    cursor: pointer;
  }
  
  .navbar-buttons button:hover {
    background-color: #555;
  }
.navbar-3{
    color: black;
}
  .navbar-4{
	overflow: hidden;
}
.navbar-4 a {
	float: left;
	font-size: 20px;
	color: black;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	text-transform: uppercase;
}
.d {
	float: left;
	overflow: hidden;
}
.d .d-btn {
	font-size: 20px;
	border: none;
	outline: none;
	padding: 14px 16px;
	background: inherit;
	text-transform: uppercase;
    font-weight: bold;
}
.navbar-links ul li .d-btn-2{
    color: black !important;
}
.navbar-links ul li .d-btn-2:hover{
    color: white !important;
}
.navbar-2 a:hover, .d:hover .d-btn {
	background:#282A35;
    color: white;
}
.navbar-6 .nav-6{
    background-color: white;
}
.navbar-6 .nav-6:hover{
    background-color: white !important;
}
.d-content {
	display: none;
	position: absolute;
	background: #f9f9f9;
	width: 100%;
	left: 0;
	z-index: 10;
}
.d:hover .d-content {
	display: block;
}
.column {
	float: left;
	width: 33.33%;
	padding: 10px;
	background:#282A35;
	height: 540px;
}
.column a {
	display: block;
	float: none;
	color: white;
	text-align: left;
}
.column h3 {
	color: #fff183;
	padding: 10px;
}
.column a:hover {
	background: #b5afaf;
}
/* .row-2:after {
	content: '';
	display: table;
	clear: both;
} */



.img{
    height: 40px;
}
.text{
    font-weight: bolder;
    color: black;
    font-size: 20px;
}
.hov:hover{
    background-color: #04AA6D;
}
.bg{
    background-color: white;
}
.nav-main{
    margin-left: 4%;
}
.bt-m{
    margin-right: 5%;
}
.bt-c{
    font-weight: 600;
    font-size: 22px;
}
.inp{
    margin-left: -16px !important; 
    width: 80px;
    display: inline-block;
    padding: 6px;
    background-color: #04AA6D;
    border: none;
}
.inp-s{
    padding: 18px;
    border: none;
    width: 290px;
}
.btn-upgrade{
    background-color:   #8d98d8;
   color: white !important;
   border-radius: 25px;
   margin-right: 10px;
   border: 0;
 }
.btn-upgrade-2{
    background-color:#282A35;
    color: white !important;
    border-radius: 25px;
    margin-right: 10px;
    border: 0;
 }
.btn-upgrade:hover{
    background-color:  #6e7dd2 !important;
 }
.btn-get{
    display: inline-block;
    border-radius: 25px;
    margin-right: 10px;
    border: 0;
    background-color: #FFC0C7!important; 
}
.btn-get:hover{
    background-color: #fc7d8c !important;
}
.btn-free{
    display: inline-block;
    border-radius: 25px;
    margin-right: 10px;
   border: 0;
    background-color: #FFF4A3;
}
.btn-free:hover{
    background-color: #fff183;
}
.btn-login{
    display: inline-block;
    border-radius: 25px;
    margin-right: 10px;
    border: 0;
    background-color: #04AA6D;
    color: white!important;
}
.btn-login:hover{
    background-color: #05d78a;
}

/* First Page  */

.first-page{
    background-color: #282A35;
    padding-top: 8%; 
    height: 450px;
    padding-bottom: 10%;
}
.ltc{
    color: white;
    font-size:72px;
    font-weight: 700;   
}
.mid-c2{
    font-size: larger;
    margin-top: 3%;
   color: #FFC0C7;
}
.bt{
    border-top-right-radius: 25px !important;
    border-bottom-right-radius: 25px !important;
    height: 40px !important;
}
.bt-2{
    border-top-left-radius: 25px !important;
    border-bottom-left-radius: 25px !important;
    height: 38px !important;
    margin-top: 28px !important;
}
.form-p{
    margin-top: 0%  ;
    padding-left: 33%;
    padding-right: 33%;
}
.m-text{
    color: aliceblue;
    padding-top: 3%;
}
.last-text{
    color: white;
    margin-top: 30px ;
    padding-top: 0% ;
    font-size: 15px;
}
.last-text:hover{
    color: #04AA6D;
}
.c-2{
    background-color: #D9EEE1 ;
    height: 550px; 
}

/* Html Page  */

.html-main{
    background-color: #D9EEE1 ;
    height: 550px;
   }
.html{
       font-size: 5.5vw;
       padding-top: 7%;
       font-weight: 700;
       color: black;
   }
.v-btn{
       margin-top: 5%;
       width: 170px;
       height: 50px;
       font-size: 18px;    
   }
.img-c{
    width: 500px;
    height: 350px;
    margin: 2%;
}

/* CSS page  */

.css-row{
       background-color: #FFF4A3;
       height: 550px;
   }
.edit{
       text-decoration: none;
       color: white;
}
.edit:hover{
    color: white;
}

   /* JS Page  */

.js-row{
    background-color: #282A35;
    height: 550px;
}
.js{
    color: white;
}
.js-bt{
    font-size: 17px;
    background-color: white;
    color: black !important;
}
.img-container{
    height: 420px !important;
}

/* Py Page  */

.python{
    background-color: #fcf4f4;
    height: 550px;
}

.sql-bg{
    background-color: #96D4D4;
    height: 550px !important;
}

/* Section B  */

.section-2{
    display: flex;
    background-color: #282A35;
    justify-content: space-around;
    /* height: 400px; */
    padding-top: 40px;
}
.php{
    background-color: #FFC0C7;
    border-radius: 2%;
    height: 260px;
    width: 550px;
    margin-top: 6%;
    text-align: center;
}
.h-1{
    margin-top: 30px;
    font-weight: bolder;
    font-size: 3rem;
}
.p{
    font-weight: 500;
    margin-top: 25px;
}
.jqu{
    background-color: #FFF4A3;
}
.java{
    background-color: #f8e7e7;
}
.cp{
    background-color: #D9EEE1;
}
.ca{
    margin-top: 1% !important;
}
.w3{
    background-color: #96D4D4;
    margin-bottom: 2%;
}
.boots{
    background-color: #ffeeee;
    margin-bottom: 2%;
}
.section-2b{
    display: flex;
    background-color: #282A35;
    justify-content: space-around;
    padding-top: 45px;
}
.c{
    background-color: #FFC0C7;
    height: 145px;
    cursor: pointer;
}
.c:hover{
    background-color: #fbadb6;
}
.c2{
    height: 145px;
    background-color: #f8efb5;
    cursor: pointer;
}
.c2:hover{
    background-color: #fef39e;   
}

.main-2{
    display: flex;
    justify-content: space-around;
    background-color: #282A35;
    padding-top: 40px;
    height: 200px;
}
.main-3{
    cursor: pointer;
}
.ch-1{
    background-color: #D9EEE1;
}
.ch-1:hover{
    background-color: #d0fae0;
}
.ch-2{
    background-color: #f8efb5;
}
.ch-2:hover{
    background-color: #f3e99d;
}
.ch-3{
    background-color: #96D4D4;
}
.ch-3:hover{
    background-color: #93eded;
}
.ch-4{
    background-color: #fccdd2;
}
.ch-4:hover{
    background-color: #fdbac1;
}
.ch-5{
    background-color: #f8efb5;
}
.ch-5:hover{
    background-color: #f8eda1;
}
.ch-6{
    background-color: #D9EEE1;
}
.ch-6:hover{
    background-color: #c4f7d8;
}
.ch-7{
    background-color: #FFC0C7;
}
.ch-7:hover{
    background-color: #f1b6be;
}
.ch-8{
    background-color: #f8e7e7;
}
.ch-8:hover{
    background-color: #f6cccc;
}
.ch-9{
    background-color: #FFC0C7;
}
.ch-9:hover{
    background-color: #fcb1b9;
}
.ch-10{
    background-color: #fef39e;
}
.ch-10:hover{
    background-color: #fbef91;
}
.ch-11{
    background-color: #ffeeee;
}
.ch-11:hover{
    background-color: #f9c6c6;
}
.ch-12{
    background-color: #96D4D4;
}
.ch-12:hover{
    background-color: #91f7f7;
}
.ch-bt{
    display: inline-block;
    width: 230px;
    height: 140px;
    text-align: center;
    cursor: pointer;
    border-radius: 5%;
}
.footer{
    background-color: #282A35;
    height: 50px;
}
.h-3{
    color: white;
    text-align: center;
}

/* Learm HTML Page  */

    /* Second Navbar  */

  .navbar-s {
    background-color: #4a4a4a;
    overflow: hidden;
  }

  .navbar-s a {
    float: left;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }

  .navbar-s a:hover {
    background-color: black;
    color: white;
  }

  .navbar-s .home-icon {
    float: left;
  }

  .navbar-s .search-icon {
    float: right;
  }
  .M-1{
    background-color:#04AA6D !important;
    color: white;
  }
  .M-1:hover{
    background-color:#04AA6D !important;
    color: white;
  }

/* Asaide Menu  */

aside{
    position:fixed;
    float: left;
    background-color:lightgrey;
    height: 230%;
    overflow-y:scroll;
}
.left-aside ul{
    z-index:20;
    background-color:#EBEBEB;
    position:absolute;
    left: 0px;
    height:260%;
    width:17%;
    padding-top:10px;
    padding-bottom:15px;
    list-style-type: none;
    overflow-y:auto;
    padding-left:0px;
}
#head2{
    padding-top:6px;
    padding-bottom:7px;
    font-size:25px;
}
#head2:hover{
    background-color:#EBEBEB;
}
.left-aside li{
    padding-left:10px;
    font-size:20px;
}
.left-aside li:hover{
    cursor:pointer;
    background-color:rgb(173, 173, 173);
    font-size:20px;
}
.d-content-2{
    z-index: 100;
}

/* Center Content Style  */

.center-con{
    width: 80%;
    height: 320px;
    margin-left: 100px;
    margin-right: 0px !important;
    margin-top: 40px;
}
.first-cen{
    text-align: center;
}
.btns-2{
    display: flex;
    justify-content: space-around;
    margin-top: 70px;
}
.cen-btn{
    display: inline-block;
    width: 120px;
    border: none;
    border-radius: 5px;
    background-color: #04AA6D;
    color: white;
    margin-right: 0px !important;
}
.main-second-1{
    background-color: #85ffd2;
    text-align: left;
}
.child-second-1{
    margin-left: 140px !important;
    padding-top: 40px;
    font-size: 20px;
    font-weight: 500;
}
.second-btns{
    display: inline-block;
    margin-left: 140px;
}
.second-btn{
    background-color:#04AA6D;
    color: white;
    border: none;
    border-radius: 5px;
}
.second-btn-2{
    margin-top: 25px;
    background-color: #282A35;
}
.main-t-1{
    background-color: white;
    height: 400px;
    margin-left: 80px;
}
.edit-2{
    margin-top: 0px;
}
.main-f-1{
    background-color: white;
    height: 300px;
    margin-top: 300px;
}


/* Right aside  */

.a-d-2{
    margin-top: -358px !important;
}
.right-aside ul{
    z-index:20;
    background-color:#EBEBEB;
    position:absolute;
    left: 1170px;
    height:260%;
    width:22%;
    padding-top: 10px;
    padding-bottom:15px;
    list-style-type: none;
    padding-left:0px;
}
.advir{
    text-align: center;
    font-weight: 300;
    cursor: pointer;
}
  

/* Responsive */


